.carousel {
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: clamp(400px, 40vw, 536px);
    height: clamp(400px, 40vw, 536px);
    border: 1px solid #42567A20;
    border-radius: 100%;

    & .circles {
        position: relative;
        width: 100%;
        height: 100%;

        & .circle {
            position: absolute;
            transform: translate(-50%, -50%);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            width: 10px;
            height: 10px;
            padding: 2px;
            background-color: #42567A;
            border: 1px solid #d4d4d450;

            border-radius: 100%;

            transition-property: width, height, background-color;
            transition-duration: 500ms;

            & .number {
                visibility: hidden;
                font-size: 20px;
                color: #42567A;
            }

            & .carousel_title {
                opacity: 0;
                position: absolute;
                left: 80px;
                font-size: 20px;
                font-weight: bold;
            }

            &.active {
                width: 58px;
                height: 58px;

                background-color: #F4F5F9;
                border: 1px solid #303E5850;

                & span {
                    visibility: visible;
                }
            }

            &:hover {
                width: 58px;
                height: 58px;

                background-color: #F4F5F9;
                border: 1px solid #303E5850;

                & .number {
                    visibility: visible;
                }
            }
        }
    }

    @media (max-width: 1023px) {
        display: none;
    }
}