.container {
    display: flex;
    flex-direction: column;
    gap: 11px;

    & span {
        font-size: 14px;
    }

    & .stepper {
        display: flex;
        gap: 8px;

        & button {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 25px;
            height: 25px;
            padding: 9px;
            border-radius: 100%;
            border: 1px solid #42567A50;
            background-color: transparent;

            & svg {
                height: 100%;
            }

            &:hover {
                background-color: white;
            }

            &:disabled {
                color: unset;
            }

            &.disabled {
                opacity: 0.5;
                background-color: transparent;
            }

            @media (min-width: 1024px) {
                width: 50px;
                height: 50px;
                padding: 18px;
            }

        }

        & button + button {
            transform: rotate(0.5turn);
        }
    }

    @media (min-width: 1024px) {
        padding-left: 80px
    }
}