.button {
    width: 40px;
    height: 40px;
    padding: 15px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0px 0px 15px #3877EE10;

    & svg {
        height: 100%;
    }
}